header {
    height: 8vh;
    width: 100%;
}

.header_parent {
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
 box-shadow: 0px 0.8px 0px 0px rgba(18, 32, 59, 0.09);
}



.header_middle {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--Light-Gray-Light-Gray-2, #DDE2E4);
    background: var(--black-white-white, #FFF);
    margin-right: 20vw;

}

.student_inputcontainer {
    display: flex;
    align-items: center;


}

.student_inputplaceholder input {
    border: none;
    outline: none;
}

.header_right {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.approval_button p {
    color: #3425FF;
    font-family: "Segoe UI";
    font-size: 1.1rem;
    font-weight: 600;

}

.approval_button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    gap: 10px;
    padding: 15px;
    box-shadow: 0px 0px 4px blue;
    height: 95%;
    margin-right: 7vw;
    
    
}

.cashier_container {
    display: flex;
    flex-direction: row;
    padding-top: 0.2vh;
    align-items: center;

}

.cashier_details{
    display: flex;
    padding-right:0.5vw ;
    align-items: center;
   
}

  


